@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

$hex-levels: (
    /// Creates a descending transparency scale on the base of (mostly) 100s
    /// @param {number} key: descending in the hundreds starting at 900, finishing at 100, 50, then 25
    /// @param {string} value: the hex code for the alpha value of #RRGGBBAA
    /// @param {number} transparency: the opacity percentage of the color itself

//  key: value, // transparency
    900: FF,    // 100%
    800: E6,    // 90%
    700: CC,    // 80%
    600: B3,    // 70%
    500: 99,    // 60%
    400: 80,    // 50%
    300: 66,    // 40%
    200: 4d,    // 30%
    100: 33,    // 20%
    50: 1a,     // 10%
    25: 0d,     // 5%
);

$colors: (
    "blue": $blue, "indigo": $indigo, "purple": $purple, "pink": $pink,
    "red": $red, "orange": $orange, "yellow": $yellow, 
    "green": $green, "teal": $teal, "cyan": $cyan,
);

@each $colorName, $colorVal in $colors {
    @each $level, $alpha in $hex-levels {
        // Initially had RGBA hex as AARRGGBB but that's p much just the Android standard
        // Most browsers support it as RRGGBBAA
        // $hex: "##{$alpha}#{str-slice(inspect($colorVal), 2)}";
        $hex: #{$colorVal}#{$alpha};
        $color-lvl: #{$colorName}-#{$level};
        // @debug "bg-#{$color-lvl}: #{$hex}";

        .bg-#{$color-lvl} {
            // @debug "bg-#{$color-lvl}: #{$hex}";
            background-color: $hex !important;
        }

        .text-#{$color-lvl} {
            color: $hex !important;
        }

        .btn-#{$colorName} {
            background-color: $colorVal !important;
        }

        .btn-outline-#{$colorName} {
            background-color: transparent !important;
            color: $colorVal !important;
            border-color: $colorVal !important;
        }
    }
}
